body {
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
  padding:.5%;
}

#item-selector {
  box-sizing:border-box;
}

/* The search field */
#myInput {
  width:100%;
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 1.5% 1.5% 1.5% 2%;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myDropdown {
  width:50%;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  display:none;
  user-select:none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

#subtitle-items  {
  padding-top: 3%;
}

#item-set {
  background-color: rgb(248, 201, 201);
  width:auto;
  height: min(40vh, auto);

  box-sizing:border-box;
  padding: 1%;

  display:grid;
  grid-template-rows: repeat(auto-fit, 30%);
  gap: 2%;
}

.item-entry {
  width:auto;
  height:clamp(400px, 20%, 20vh);
  aspect-ratio: 4 / 5;
  background-color:rgb(212, 245, 245);
  
  display:grid;
  grid-template-rows: 20%, 10%, 70%;
}

.item-icon{

}

.item-title{

}

.item-description{

}

.item-buttons {
  
}